@import url('https://fonts.googleapis.com/css2?family=Bahiana&family=Dynalight&family=Pompiere&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');@import url('https://fonts.googleapis.com/css2?family=Bahiana&family=Cinzel:wght@400..900&family=Dynalight&family=Pompiere&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
footer {
  color: rgb(255, 255, 255);
  background-image: url(/footer.jpg);
  justify-content: center;
  padding: 10px;
  display: flex;
  width: 100%;
  align-items: center;
  font-family: 'Cinzel', sans-serif;
  box-shadow: 8px 8px 20px 10px rgb(0, 0, 0);
  
  
}

.logo{
    width: 10vw;       
    flex-direction: column;

}

.teste{
  flex-direction: column;
  display: flex;
  align-items: center;
  text-shadow: #000000;
}

.search-form {
  display: flex;
  justify-content: center;
}

.search-form input {
  padding: 8px;
  border: none;
  border-radius: 4px 0 0 4px;
  outline: none;
  border: 1px solid black;
  width: 300px;
  min-width: 200px;
  justify-content: center;
}

.search-form button {
  padding: 10px 8px;
  border: none;
  background-color: #000000;
  color: white;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  border: 2px solid black;

  justify-content: center;
}

.search-form button:hover {
  background-color: #000000;
  justify-content: center;
}

.search-form .icon {
  width: 16px; 
  height: auto;
  justify-content: center;
}

.instagram-icon {
  padding: 8px;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.instagram-icon svg {
  width: 24px;
  height: 24px;
}

.twitter-icon {
  padding: 8px;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.twitter-icon svg {
  width: 24px;
  height: 24px;
}

.facebook-icon {
  padding: 8px;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.facebook-icon svg {
  width: 24px;
  height: 24px;
}